<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>0000000000000-00000000000000000000000000000000.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.0000000000000-00000000000000000000000000000000</string>
	<key>API_KEY</key>
	<string>A00000000000000000-00000000000-000000000</string>
	<key>GCM_SENDER_ID</key>
	<string>0000000000000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firappuccino.testapp-00000</string>
	<key>PROJECT_ID</key>
	<string>testapp-00000</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-00000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>0:0000000000000:ios:0000000000000000</string>
	<key>ISS</key>
	<string>firebase-adminsdk-00000@testapp-00000.iam.gserviceaccount.com</string>
	<key>GCM_MESSAGE_ID_KEY</key>
	<string>gcm.message_id</string>
	<key>LEGACY_API_SERVER_KEY</key>
	<string>AAAAA000000:0000000000000000000000000000000000000000000</string>
	<key>DATABASE_URL</key>
	<string>https://testapp-00000.firebaseio.com</string>
</dict>
</plist>
